.container {
  text-align: center;
}

.title {
  text-align: center;
}

.digit-container {
  text-align: center;
}

.digit {
  display: inline-block;
  text-align: center;
  font-size: 200px;
  margin: 10px;
  font-weight: normal;
}