.containerList {
    background-color: #f0f0f0;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list {
    overflow: auto;
    height: 300px;
}