.name1 {
  color: green;
}

.name1.name2,
.name3 {
  color: red;
}

.parent > .child {
  color: blue;
}

.name3:hover {
  color: yellow;
}

.box-model {
    background-color: #ffee00;
    width: 200px;
    height: 100px;
    /* padding: 30px; */
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    border: 20px solid #00ffff;
    border-top: 10px solid #ff0000;
    border-radius: 20px;
    /* top right bottom left */
    /* margin: 50px 10px 10px 20px;  */
    /* top|bottom left|right */
    margin: 20px 10px;
}

.span {
    background-color: #ffff00;
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 10px;
}

.box {
    width: 100px;
    height: 100px;
    background-color: #ff00ff;
    margin: 10px;
    display: inline-block;
}

.box.box2 {
    top: 20px;
    left: 20px;
    position: absolute;
    background-color: green;
}