.parent {
  display: flex;
  /* justify-content: flex-end;
  align-items: flex-end; */
  justify-content: space-evenly;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.parent .child {
  width: 100px;
  height: 100px;
  background-color: green;
  margin: 10px;
}
