.circle {
    width: 40px;
    height: 40px;
    background-color: #eaeaea;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.circle:hover {
    background-color: #f5f5f5;
}